* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

i {
  cursor: pointer;
}

h1,
ul {
  margin: 0;
  padding: 0;
}
.hidden {
  display: none !important;
}

.table-responsive {
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
td .td-img {
  height: 40px;
  display: flex;
  justify-content: center;
}
/* #endregion */
.tooltip-product-name {
  max-width: 220px;
  position: relative;

  &:hover .tooltip-full-name {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tooltip-full-name {
    padding: 2px 10px;
    min-width: 150%;
    min-height: 45px;
    position: absolute;
    bottom: 0%;
    left: 75%;
    transform: translateY();
    background: blue;
    color: white;
    border-radius: 5px;
    z-index: 1;
    display: none;
  }

  .tooltip-full-name:before {
    content: "";
    width: 15px;
    height: 15px;
    background: blue;
    position: absolute;
    top: 50%;
    left: -8px;
    transform: rotate(45deg) translateY(-40%);
    z-index: -1;
  }
}
.valid-tooltip {
  right: 0;
}
body {
  overflow: hidden;
}
.right {
  flex: 1;
  header {
    width: auto;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    background: linear-gradient(to top, rgb(44, 44, 44), rgb(170, 170, 170));

    color: white;

    .list-icons {
      .icon-header {
        margin-right: 30px;
        padding: 10px;
        cursor: pointer;

        &:hover {
          background: linear-gradient(to bottom, blue, black, blue);
          border-radius: 50%;
          box-shadow: 0px 0px 5px blue, 0px 0px 10px black;
        }
      }
      .box-icon {
        position: relative;
        .icon-num {
          padding: 3px 7px;
          position: absolute;
          top: 0;
          right: 10px;
          transform: translateX(-100%);
          color: white;
          font-size: 0.7rem;
          line-height: 1;
          background: red;
          border-radius: 50%;
        }
      }
    }
    .user {
      position: relative;

      &:hover .info-user {
        display: block;
      }
      .box-img-user {
        margin-right: 10px;
        #img-user {
          height: 50px;
          border-radius: 50%;
          box-shadow: 0 0 10px 3px red;
          &:hover {
            box-shadow: 0 0 10px 3px yellow;
          }
        }
      }

      .info-user {
        padding: 0;
        width: 200px;
        position: absolute;
        top: 100%;
        right: 0;
        background: rgb(233, 231, 231);
        color: black;
        border-radius: 5px;
        overflow: hidden;
        z-index: 1;
        box-shadow: 0px 0px 10px black;
        display: none;

        li {
          padding: 10px;
          cursor: pointer;
          font: 1rem sans-serif;

          &:not(:first-child):hover {
            background: blue;
            color: white;
            a {
              color: white;
            }
          }
          &:first-child {
            cursor: auto;
            background: #ddd;
          }
          .fa-gear,
          .fa-right-from-bracket {
            font-size: medium;
          }
          .fa-user {
            font-weight: 900;
          }
        }
      }
    }
  }
  main {
    height: calc(100vh - 76px);
    background: #f1f2f7;
    position: relative;

    overflow-y: auto;
  }
}
.left {
  nav {
    height: auto;
    padding: 0px 25px 0px;
    background: black;
    color: white;
    position: relative;
    box-shadow: 0px 5px 20px rgb(40, 40, 40);
    .title {
      margin-bottom: 10px;
      border-bottom: 1px solid white;
      .fa-bars,
      .fa-angles-left {
        padding: 10px;
        font-size: 1.5rem;
        background: linear-gradient(135deg, gray, black);
        border-radius: 50%;
        cursor: pointer;
        transition: background 0.1s linear;

        &:hover {
          background: linear-gradient(
            135deg,
            rgb(178, 177, 177),
            rgb(30, 30, 30)
          );
        }
      }
      h3 {
        padding: 15px 0px;
        padding-left: 5px;

        i {
          padding: 12px;
          background: linear-gradient(to top, blue, black, violet);
          border-radius: 50%;
          font-size: 1.7rem;
        }
      }
    }
    ul.nav-lists {
      li {
        padding: 10px 12px 12px;
        font-size: 1.2rem;
        position: relative;
        z-index: 1;
        overflow: hidden;
        cursor: pointer;

        &.active {
          color: rgb(6, 251, 83);
        }
        &:hover {
          background: linear-gradient(to top, blue, black, violet);
          border-radius: 5px;
        }
        &:hover::before {
          content: "";
          width: 100%;
          height: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          background: linear-gradient(to top, white, red, yellow, blue);
          z-index: -1;
          animation: aroundCircle 2s linear infinite;
        }
        &:hover::after {
          content: "";
          width: 95%;
          height: 85%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: black;
          z-index: -1;
          border-radius: 5px;
        }

        i {
          padding: 8px;
        }
      }
      h1 span.dp-none,
      li span.dp-none {
        display: none;
        transition: all 0.3s linear;
      }
    }
  }
}

.box-message {
  padding: 10px 80px;
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  font-size: 1.2rem;
  &.success {
    background: rgb(9, 207, 9);
    color: white;
  }
  &.danger {
    background: red;
    color: white;
  }
  &.active {
    animation: showMessage 3s ease-in-out;
  }
}

.box {
  display: none;
}

.box.active {
  display: block;
}
.substring-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-categories {
  tr {
    .td-img {
      height: 40px;
      display: flex;
      justify-content: center;
      img {
        width: auto;
        max-width: 100%;
        object-fit: contain;
      }
    }
    td:nth-child(1) {
      width: 20px;
    }
    td:nth-child(2) {
      max-width: 80px;
    }
  }
}
.box-product {
  img {
    height: auto;
    width: 50px;
  }
}
.box-order {
  .icon-detail {
    border-radius: 50%;
    &:hover {
      color: green;
      transform: scale(1.2);
      box-shadow: 0px 0px 1px 1px rgb(93, 93, 93);
    }
  }
}
.modal-order {
  .table-scroll {
    max-height: 300px;
    overflow-y: auto;
    table {
      .list-product-order {
        tr {
          height: 84.2px;
          td {
            img {
              height: 50px;
            }
          }
        }
      }
    }
  }
}
/* laptop */
@media screen and (min-width: 768px) {
  .admin {
    display: flex;
    nav {
      height: 100vh;
    }
    .icon {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, 20%);
    }
  }
}
/* mobile */
@media screen and (max-width: 767px) {
  nav {
    padding: 10px;
    position: unset;

    .title {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;

      h1 {
        padding: 10px 0;
      }
      .fa-bars,
      .fa-angles-left {
        position: unset;
        height: 44px;
        background: linear-gradient(
          135deg,
          rgb(157, 155, 155),
          rgb(74, 74, 74)
        );
      }
    }

    .hello {
      display: none;
    }
  }
}

@keyframes aroundCircle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes aroundCircle2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes showMessage {
  0% {
    top: -120px;
    opacity: 0;
  }
  25% {
    top: -25px;
    opacity: 1;
  }
  90% {
    top: -25px;
    opacity: 1;
  }
  100% {
    top: -120px;
    opacity: 0;
  }
}
